@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');

:root {
    --color-black: #222429;
    --color-blue: #3481EF;
    --color-orange: #FF4E00;
    --color-yellow: #F7DF1E;
    --color-gray: #979797;
    --color-white: #F5F6F6;

    --border-radius: ;
    --card-border-radius: ;
    --btn-padding: ;
    --search-padding: ;
    --card-padding: ;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-black);
    background: var(--color-white);
    overflow-x: hidden;
}

/*-------------- GENERAL STYLES ---------------*/
.container {
    width: 80%;
    margin: 0 auto;

}

/*------------------ NAVBAR ------------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;


        .logo {
            background: var(--color-yellow);
            padding: 1.3rem;
            border-radius: 0.4rem;
            position: relative;

            span {
                position: absolute;
                bottom: 0;
                right: 0.3rem;
                font-weight: bold;
                font-size: 1rem;
                color: var(--color-black);
            }

        }

        .links {
            display: flex;
            gap: 2rem;

            span {
                color: var(--color-gray);
                font-size: 0.8rem;
                cursor: pointer;

                &.active {
                    position: relative;
                    color: var(--color-black);
                    font-weight: 700;


                }

                &:hover {
                    transition: all 1s ease;
                    color: var(--color-orange);
                }
            }

            .pop-up {
                position: absolute;
                left: 30rem;
                top: 3.4rem;
                background: white;
                width: 7rem;
                height: max-content;
                z-index: 1;
                display: none;
                flex-direction: column;
                padding: 1rem 1rem;
                border-radius: 1rem;
                gap: 1rem;
            }

        }


    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .btn {
            transition: all 300ms ease;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.5rem;
            width: 6rem;

            border: 1px solid var(--color-gray);
            border-radius: 0.5rem;
            font-size: 0.8rem;
            color: var(--color-gray);
            font-weight: 500;
            cursor: pointer;

            i {
                font-size: 0.7rem;
                font-weight: bold;
            }

            &:hover {
                transition: all 1s ease;
                border: 1px solid var(--color-orange);
            }
        }



        .socials {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            cursor: pointer;

            i {
                width: 1.9rem;
                height: 1.9rem;
                background: white;
                border-radius: 50%;
                // display: flex;
                // align-items: center;
                // justify-content: center;

                &:nth-of-type(1) {
                    color: var(--color-orange);
                    font-size: 1.5rem;
                    box-shadow: -3px 13px 60px var(--color-gray);

                }

                &:nth-of-type(2) {
                    color: var(--color-blue);
                    font-size: 1.5rem;
                    box-shadow: -3px 13px 60px var(--color-gray);


                }
            }
        }

    }
}

/*---------------- MAIN --------------------*/
main {


    .header {
        margin-top: 2rem;
        animation: slideUp 1s ease forwards;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        .title {
            color: var(--color-black);
            font-size: 2.5rem;
        }

        .desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--color-gray);
            font-size: 0.8rem;
        }

        .searchbar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            background: white;
            padding: 0 0.7rem;
            width: 32rem;
            height: 3.5rem;
            border-radius: 0.5rem;

            input {
                width: 19rem;

                &::placeholder {
                    color: var(--color-gray);
                }
            }

            .btn {
                border: 1px solid var(--color-black);
                height: 2.7rem;
                border-radius: 0.4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0.3rem;
            }

            i {
                font-size: 1.4rem;
            }
        }

    }


    /*-------------- CARD --------------*/


    .card-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
        height: 20vh;

        .left {
            display: flex;
            gap: 1.4rem;

            span {
                cursor: pointer;
            }


            .latest {
                position: relative;

                .status {
                    position: absolute;
                    width: 0.5rem;
                    height: 0.5rem;
                    border-radius: 50%;
                    background: orangered;
                    top: 0;
                    right: -0.6rem;
                }
            }

            :nth-child(4) {
                color: var(--color-orange);
            }

            :nth-child(5) {
                color: var(--color-blue);
            }
        }

        .right {
            font-size: 1.2rem;

            i {
                cursor: pointer;
            }
        }


    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        >:nth-child(2) {
            box-shadow: 0 20px 100px lightgray;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: white;
            width: 17rem;
            border-radius: 1.5rem;
            gap: 1rem;
            padding-bottom: 1.5rem;
            cursor: pointer;

            .photo {
                position: relative;
                width: 15rem;
                height: 12rem;
                border-radius: 0.5rem;
                margin-top: 1rem;
                background: lightblue;
                overflow: hidden;


                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .cat {
                    position: absolute;
                    color: var(--color-white);
                    font-size: 0.8rem;
                    top: 0.3rem;
                    right: 1rem;
                    font-weight: bold;

                }
            }

            .name {
                color: var(--color-gray);
                font-size: 1.3rem;
                font-weight: lighter;

                &::first-letter {
                    color: var(--color-black);
                    font-size: 2.5rem;
                }
            }

            .download {
                span {
                    // text-decoration: solid;
                    border-bottom: 2px solid var(--color-black);
                    width: 100%;
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 1.4rem;
                    // padding-bottom: 1rem;
                }
            }


            &:hover {
                transition: all 700ms ease;
                transform: translateY(25px);
            }

        }
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 3rem 0;

        .left {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .discover {
                display: flex;
                flex-direction: column;
                cursor: pointer;

                >* {
                    border-bottom: 1.4px solid var(--color-black);


                }

                &:hover {
                    color: var(--color-orange);
                    border: none;

                }


            }

            .collections {
                position: relative;
                display: flex;
                align-items: center;

                .collection {
                    position: absolute;
                    width: 2.8rem;
                    height: 2.8rem;
                    border-radius: 0.4rem;
                    border: 3px solid white;
                    overflow: hidden;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }




                }


                >:nth-child(1) {
                    cursor: pointer;
                    left: 0;

                    &:hover {
                        z-index: 1;
                        animation: slideColUp 1s ease forwards;

                    }
                }

                >:nth-child(2) {
                    left: 1.5rem;

                    &:hover {
                        z-index: 1;
                        animation: slideColUp 1s ease forwards;

                    }
                }

                >:nth-child(3) {
                    left: 3rem;

                    &:hover {
                        z-index: 1;
                        animation: slideColUp 1s ease forwards;

                    }
                }

                >:nth-child(4) {
                    left: 4.5rem;

                    &:hover {
                        z-index: 1;
                        animation: slideColUp 1s ease forwards;

                    }
                }
            }
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 11rem;
            height: 3rem;
            background: white;
            border-radius: 0.4rem;

            .content {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                cursor: pointer;

                &:hover {
                    animation: slideBtnRight 1s ease forwards;
                }

            }


        }

        .right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0.8rem;
            font-weight: bold;
            gap: 1rem;



            .nav-btns {
                display: flex;
                align-items: center;
                gap: 0.4rem;

                i {
                    font-size: 1.4rem;
                }



                .previous {
                    width: 1.5rem;
                    height: 1.5rem;
                    background: lightgrey;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0.2rem;
                    color: var(--color-gray);
                    cursor: pointer;

                    &:hover {
                        border: 1px solid var(--color-orange);
                    }

                }

                .current {
                    width: 1.5rem;
                    height: 1.5rem;
                    background: white;
                    border: 1px solid var(--color-gray);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0.2rem;
                    cursor: pointer;

                    &:hover {
                        border: 1px solid var(--color-orange);
                    }
                }

                .next {
                    width: 1.5rem;
                    height: 1.5rem;
                    background: lightgrey;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0.2rem;
                    cursor: pointer;

                    &:hover {
                        border: 1px solid var(--color-orange);
                    }
                }
            }
        }
    }
}


/*----------------------- ANIMATIONS ------------------*/

/* Slide up header animation*/
@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }



}

// Slide up collection card

@keyframes slideColUp {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(-20px);
        opacity: 1;
    }
}

// Slide up collection card

@keyframes slideBtnRight {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    100% {
        transform: translateX(20px);
        opacity: 1;
    }
}


/* =======================================
MEDIA QUERIES FOR SMALL LAPTOPS AND BIG TABLETS
==========================================
*/

@media screen and (max-width: 1200px) {
    .container {
        width: 96%;
        margin: 0 auto;
    }
}


/* =======================================
MEDIA QUERIES FOR SMALL TABLETS AND MOBILE PHONES
==========================================
*/

@media screen and (max-width: 992px) {
    nav {
        .left{
            .links{
                display: none;
            }
        }
    }


    // ---------MAIN----------
    main{
        .header{
            .title {
               display: flex;
               text-align: center;
            }
            .searchbar{
                width: 20rem;

                input {
                    width: 8rem;
    
                }
            }
        }

          /*-------------- CARD --------------*/


    .card-heading {
    

        .left {
         

            span {
                font-size: 0.8rem;
                cursor: pointer;
            }


            .latest {
                position: relative;

                .status {
                    position: absolute;
                    width: 0.5rem;
                    height: 0.5rem;
                    border-radius: 50%;
                    background: orangered;
                    top: 0;
                    right: -0.6rem;
                }
            }

            
        }

        .right {
            font-size: 1.2rem;

            i {
                cursor: pointer;
            }
        }


    }


        .footer{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .left{
                width: 100%;
            }
        }
    }
}